

<!-- data nav bar -->
<div class="navbar navbar-fixed-top custom-nav">
<div class="container">

   <!-- Dataset -->
  <div class="col-sm-3">
  <!-- Single button -->
  <div class="btn-group btn-navbar" onload="setUp()">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>DATASET</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="dataset" data-toggle="dropdown" aria-expanded="false">{{dataset}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onClick="">Alcohol Vehicular Injuries</a></li>
      <li><a onClick="">Total Vehicular Injuries</a></li>
      <li><a onClick="">AIDS and HIV</a></li>
      <li><a onClick="">Anxiety Disorder</a></li>
      <li><a onClick="">Assults</a></li>
      <li><a onClick="">Asthma</a></li>
      <li><a onClick="">Alcohol Related Disorder</a></li>
      <li><a onClick="">Substance Related Disorder</a></li>
      <li><a onClick="">Firearm Injuries</a></li>
      <li><a onClick="">Homicide</a></li>
      <li><a onClick="">Lung Cancer</a></li>
      <li><a onClick="">Pedestrian Injuries</a></li>
      <li><a onClick="">Personality Disorders</a></li>
      <li><a onClick="">Self Injury</a></li>
      <li><a onClick="">Suicide</a></li>
    </ul>
    </div>
  </div>

  <!-- GENDER -->
  <div class="col-sm-3">
  <!-- Single button -->
  <div class="btn-group btn-navbar">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>GENDER</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="gender" data-toggle="dropdown" aria-expanded="false">{{gender}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onClick="filterMale()">Male</a></li>
      <li><a onClick="filterFemale()">Female</a></li>
    </ul>
    </div>
  </div>

  <div class="col-sm-2 text-center ">

  <div class="btn-group btn-navbar">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>AGE</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="age" data-toggle="dropdown" aria-expanded="false">{{age}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onClick="filter0To14()">0 - 14</a></li>
      <li><a onClick="filter15To24()">15 - 24</a></li>
      <li><a onClick="filter25To44()">25 - 44</a></li>
      <li><a onClick="filter45To64()">45 - 64</a></li>
      <li><a onClick="filter65()">65 +</a></li>
    </ul>
    </div>
  </div>


  <div class="col-sm-4 text-right">

  <div class="btn-group btn-navbar">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>LOCATION</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="location" data-toggle="dropdown" aria-expanded="false" disabled>(click on map)
    </button>
    </div>
  </div>





</div> <!-- end row -->

</div>



<!-- TODO: content goes here -->
<div style="width:100%;height:500px;">
  <div id="googleMap"></div>
</div>
<div id="selectArea"></div>
<!--
<div style="width:60%;height:400px;margin-left:20%;" id="chart"></div>

<div id="sidebar" style="margin-top:10%"></div>
-->
<h4 class="text-lightest">Number of Times More Likely Than SD County Average</h4>
<h5 class="text-lightest">by Gender</h5>
<div id="genderchart"></div>
<h5 class="text-lightest">by Age</h5>
<div id="agechart"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/googlemaps.js"></script>
<script>
function filterMale() {
  console.log("male selected");
  var element = document.getElementById('gender');
  element.innerHTML = 'Male  <span class="caret"></span>';
}
function filterFemale() {
  console.log("female selected");
  var element = document.getElementById('gender');
  element.innerHTML = 'Female <span class="caret"></span>';
}
function clearGender() {
  console.log("gender filter cleared");
  var element = document.getElementById('gender');
  element.innerHTML = '<span class="caret"></span>';
}
function filter0To14() {
  console.log("0-14 selected");
  var element = document.getElementById('age');
  element.innerHTML = '0 - 14 <span class="caret"></span>';
}
function filter15To24() {
  console.log("15-24 selected");
  var element = document.getElementById('age');
  element.innerHTML = '15 - 24 <span class="caret"></span>';
}
function filter25To44() {
  console.log("25-44 selected");
  var element = document.getElementById('age');
  element.innerHTML = '25 - 44  <span class="caret"></span>';
}
function filter45To64() {
  console.log("45-64 selected");
  var element = document.getElementById('age');
  element.innerHTML = '45 - 64  <span class="caret"></span>';
}
function filter65() {
  console.log("65+ selected");
  var element = document.getElementById('age');
  element.innerHTML = '65 +  <span class="caret"></span>';
}
function clearAge() {
  console.log("age filter cleared");
  var element = document.getElementById('age');
  element.innerHTML = '<span class="caret"></span>';
}
function clearLocation() {
  console.log("location filter cleared");
  var element = document.getElementById('location');
  element.innerHTML = '(click on map)';
}

function clearAll() {
  console.log("all filters cleared");
  clearGender();
  clearAge();
  clearLocation();
}

</script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="js/d3data.js"></script>

