

<!-- data nav bar -->
<div class="navbar navbar-fixed-top custom-nav">
<div class="container">

   <!-- Dataset -->
  <div class="col-sm-3">
  <!-- Single button -->
  <div class="btn-group btn-navbar" onload="setUp()">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>DATASET</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="dataset" data-toggle="dropdown" aria-expanded="false">{{dataset}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onClick="datasetAlcoholInjury()">Alcohol Vehicular Injuries</a></li>
      <li><a onClick="datasetTotalInjury()">Total Vehicular Injuries</a></li>
      <li><a onClick="datasetAnxiety()">Anxiety Disorder</a></li>
      <li><a onClick="datasetAssults()">Assults</a></li>
      <li><a onClick="datasetAsthma()">Asthma</a></li>
      <li><a onClick="datasetAlcohol()">Alcohol Related Disorder</a></li>
      <li><a onClick="datasetSubstance()">Substance Related Disorder</a></li>
      <li><a onClick="datasetFirearm()">Firearm Injuries</a></li>
      <li><a onClick="datasetHomicide()">Homicide</a></li>
      <li><a onClick="datasetLungCancer()">Lung Cancer</a></li>
      <li><a onClick="datasetSelfInjury()">Self Injury</a></li>
    </ul>
    </div>
  </div>

  <!-- GENDER -->
  <div class="col-sm-3">
  <!-- Single button -->
  <div class="btn-group btn-navbar">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>GENDER</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="gender" data-toggle="dropdown" aria-expanded="false">{{gender}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onClick="filterMale()">Male</a></li>
      <li><a onClick="filterFemale()">Female</a></li>
    </ul>
    </div>
  </div>

  <div class="col-sm-2 text-center ">

  <div class="btn-group btn-navbar">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>AGE</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="age" data-toggle="dropdown" aria-expanded="false">{{age}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a onClick="filter0To14()">0 - 14</a></li>
      <li><a onClick="filter15To24()">15 - 24</a></li>
      <li><a onClick="filter25To44()">25 - 44</a></li>
      <li><a onClick="filter45To64()">45 - 64</a></li>
      <li><a onClick="filter65()">65 +</a></li>
    </ul>
    </div>
  </div>


  <div class="col-sm-4 text-right">

  <div class="btn-group btn-navbar">
    <button type="button" class="btn btn-default btn-nav-label disabled" disabled>LOCATION</button>
    <button type="button" class="btn btn-default btn-nav dropdown-toggle" id="location" data-toggle="dropdown" aria-expanded="false" disabled>(click on map)
    </button>
    </div>
  </div>





</div> <!-- end row -->

</div>



<!-- TODO: content goes here -->
<div style="width:100%;height:500px;">
  <div id="googleMap"></div>
</div>
<div id="selectArea"></div>
<!--
<div style="width:60%;height:400px;margin-left:20%;" id="chart"></div>
-->
<div class="container">
<h4 class="text-lightest">Number of Times More Likely Than SD County Average</h4>
<h5 class="text-lightest">by Gender</h5>
<div style="height:30%">
  <div id="genderchart"></div>
</div>
<h5 class="text-lightest">by Age</h5>
<div id="agechart"></div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript" src="js/googlemaps.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

