<div class="container-fluid" style="min-height: 800px;">
    <div class="img-container">

        <img src="sdpic.jpg" class=" img-custom">

        <div class="container" style="padding-top: 200px">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">

            <h1 class="text-center text-lightest">PlotSD by LifeFitness</h1>
    

            <p>A visualization of San Diego County, based on you, to keep you healthy, informed and safe.</p>

    
            <a href="#form"><button class="btn btn-default btn-submit text-uppercase">GET STARTED</button></a> 
            </div>
        </div>
        </div>



    </div>

</div>


<div class="container-fluid" style="min-height: 800px; background-color: #333; opacity: 0.9" id="form">

    <div class="row">
    <div class="col-sm-12">

    <h2 class="text-center text-lightest">What Interests You?</h2>

    </div>
    </div>

    <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
    <h3 class="text-lighter text-center">Choose a Dataset</h3>
 
    <!-- LOGIN FORM *NEEDS TO BE CHANGED TO WORK* -->
    <form action="/googlemaps" method="post">
        
        <div class="form-group">
            
            <input type="radio" name="dataset" value="Alcohol Vehicular Injuries" checked>
            <label class="text-lighter">Vehicular Injuries (Alcohol Related)</label>
            <br>
            <input type="radio" name="dataset" value="Total Vehicular Injuries">
            <label class="text-lighter">Vehicular Injuries (Total)</label>
            <br>
            <input type="radio" name="dataset" value="Anxiety Disorder">
            <label class="text-lighter">Anxiety Disorder</label>
            <br>
            <input type="radio" name="dataset" value="Assults">
            <label class="text-lighter">Assaults</label>
             <br>
            <input type="radio" name="dataset" value="Asthma">
            <label class="text-lighter">Asthma</label>
             <br>
            <input type="radio" name="dataset" value="Alcohol Related Disorder">
            <label class="text-lighter">Chronic Alcohol Related Disorder</label>
             <br>
            <input type="radio" name="dataset" value="Substance Related Disorder">
            <label class="text-lighter">Chronic Substance Related Disorder</label>
             <br>
            <input type="radio" name="dataset" value="Firearm Injuries">
            <label class="text-lighter">Firearm Related Injuries</label>
            <br>
            <input type="radio" name="dataset" value="Homicide">
            <label class="text-lighter">Homicide</label>
            <br>
           
            <input type="radio" name="dataset" value="Lung Cancer">
            <label class="text-lighter">Lung Cancer</label>
            <br>
            <input type="radio" name="dataset" value="Self Injury">
            <label class="text-lighter">Self-Inflicted Injuries</label>
           

        
        </div>
        </div>
        <div class="col-sm-3">
        <div class="form-group">
            <h3 class="text-lighter">Gender</h3>
            <input type="radio" name="gender" value="Male" checked>
            <label class="text-lighter" required>Male</label>
            <br>
            <input type="radio" name="gender" value="Female">
            <label class="text-lighter">Female</label>
        </div>
        </div>

        <div class="col-sm-3">
        <div class="form-group">
            <h3 class="text-lighter">Age</h3>
            <input type="radio" name="age" value="0 - 14" checked>
            <label class="text-lighter">0 - 14</label>
            <br>
            <input type="radio" name="age" value="15 - 24">
            <label class="text-lighter">15-24</label>
            <br>
            <input type="radio" name="age" value="25 - 44">
            <label class="text-lighter">25-44</label>
            <br>
            <input type="radio" name="age" value="45 - 64">
            <label class="text-lighter">45-64</label>
            <br>
            <input type="radio" name="age" value="65 +">
            <label class="text-lighter">65 +</label>
        </div>
        </div>
 </div>

        <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
        <button type="submit" class="btn btn-default btn-submit text-uppercase">EXPLORE THE DATA</button>
        </div>
        </div>
    </form>
<br><br>
</div>

</div>

<script>
jQuery('a').each( function() {
    var $this = jQuery(this), 
        target = this.hash;
    jQuery(this).click(function (e) { 
        e.preventDefault();
        if( $this.length > 0 ) {
            if($this.attr('href') == '#' ) {
                // Do nothing   
            } else {
               jQuery('html, body').animate({ 
                    scrollTop: (jQuery(target).offset().top) 
                }, 500);
            }  
        }
    });
});  
</script>