<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="/">PlotSD</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/googlemaps" class="text-uppercase">Google maps</a></li>
            <li><a href="/facebookfriends" class="text-uppercase">Facebook friends</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/signup" class="text-uppercase">back</a></li><!--
            <li><a href="/login" class="text-uppercase">Log In <span class="sr-only">(current)</span></a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- *.,.,.,.,.,.,.,.,,.,.,.,.,.,* -->
<!-- INCLUDE THIS LATER LOCALLY -->
<!-- *.,.,.,.,.,.,.,.,,.,.,.,.,.,* -->
<style>

.chart div {
  font: 13px sans-serif;
  background-color: magenta;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

</style>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="maps/datamaps/dist/datamaps.none.min.js"></script>
<!-- -->

<script src="js/c3.min.js"></script>

<!-- CONTENT -->

<div class="row">
<div class="col-sm-4 col-sm-offset-4">

    <h1 class="text-center text-lightest">PlotSD by LifeFitness</h1>

    <!-- LOGIN FORM *NEEDS TO BE CHANGED TO WORK* -->
    <form action="/signup" method="get">
        <p>A visualization of San Diego County, based on you, to keep you healthy, informed and safe.</p>

        <br>
    </form>
</div>
</div>


<!-- secondary nav (above map and data) -->
<div class="row">
<div class="col-sm-3 text-center custom-nav">
  <!-- Single button -->
<div class="btn-group btn-navbar">
  <button type="button" class="btn btn-default btn-nav">GENDER</button>
  <button type="button" class="btn btn-default btn-nav-2 dropdown-toggle" id="gender" data-toggle="dropdown" aria-expanded="false">
    Male      <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a onClick="test('gender', 'Male'); genderswap('male'); return false;">Male</a></li>
    <li><a onClick="test('gender', 'Female'); genderswap('female'); return false;">Female</a></li>
  </ul>
  </div>
</div>
<div class="col-sm-3 text-center custom-nav">
  <!-- Single button -->
<div class="btn-group btn-navbar">
  <button type="button" class="btn btn-default btn-nav">AGE</button>
  <button type="button" class="btn btn-default btn-nav-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
   <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">18-25</a></li>
    <li><a href="#">26-33</a></li>
    <li><a href="#">34-42</a></li>
  </ul>
  </div>
</div>
<div class="col-sm-3 text-center custom-nav">
  <!-- Single button -->
<div class="btn-group btn-navbar">
  <button type="button" class="btn btn-default btn-nav">ETHNICITY</button>
  <button type="button" class="btn btn-default btn-nav-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
   <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Asian American</a></li>
    <li><a href="#">African American</a></li>
    <li><a href="#">Hispanic or Latino</a></li>
    <li><a href="#">Native Hawaiian and other Pacific Islander</a></li>
    <li><a href="#">Native American</a></li>
    <li><a href="#">Caucasian</a></li>
  </ul>
  </div>
</div>

<div class="col-sm-3 text-center custom-nav">
  <!-- Single button -->
<div class="btn-group btn-navbar">
  <button type="button" class="btn btn-default btn-nav">4th label</button>
  <button type="button" class="btn btn-default btn-nav-2 dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
   <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
  </div>
</div>
</div>

<div class="col-md-5 boxthing" id="sdmap" style="height: 330px">
</div>

<div class="col-md-7 boxthing" id="data" style="height: 330px">
[data in progress]
  <div id="chart2">
  </div>
</div>

<div class="col-md-12" style="">

<h4 id="neighborhood"></h4>
<div class="chart">demo data</div>
</div>


<script>
// NOTE: LOAD TIMES ARE LONG
/* 

//WORKING D3 visualization
var width = 960,
    height = 1160;

var projection = d3.geo.mercator()
    .center([-116, 33])
    .scale(15000)
    .translate([width / 2, height / 2]);
    

var path = d3.geo.path()
    .projection(projection);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

d3.json("maps/sdcounty.topo.json", function(error, sd) {
if (error) return console.error(error);
    /*
  svg.append("path")
      .datum(topojson.feature(sd, sd.objects.sdcounty))
      .attr("d", path);
      //
      svg.selectAll(".sdcounty")
    .data(topojson.feature(sd, sd.objects.sdcounty).features)
  .enter().append("path")
    .attr("class", function(d) { return "sdcounty " + d.SRA; })
    .attr("d", path);
});
*/

// test with buttons
function test(label, field) {
  var element = document.getElementById(label);
  //console.log("chosen: " + field);
  element.innerHTML = field;
}

// WORKING DATAMAPS VIZUALIZATION

</script>
<script src="js/sdcountymap.js"></script>
<script src="js/c3vis.js"></script>
<script src="js/demodata.js"></script>
