.infowindow {
	color: black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* -- Global css classes -- */
.text-lighter {
	font-weight: 300;
}

.text-lightest {
	font-weight: 100;
}

div.img-container {
z-index: -1000;
height: 100%;
margin-top: -90px;
}
.img-custom {
	max-height: 110%;
	width: 100%;
	position:fixed;
	z-index: -999;
}

.text-right {
	text-align: right;
}


/* GOOGLE MAPS STUFF */
.sidebarOption {
	width:100%;
	border:1px solid #000;
}

#googleMap {
  width:  100%;
  height: 93%;
  margin: 0;
  padding: 0;
}


body {
	background-color: #5A5A5A;
	color: #EEEEEE;
}

body #sdmap {
	color: #333;
}

body #chart {
	color: black;
}

#sidebar {
    position:absolute;
    top:70px; bottom:0; left:85%;
    width:15%;
}

/* -- Global font -- */
* {
	font-family: 'Roboto';
	/* changes font color of all except nav */
	/*color: #EEE;*/
}

/* Fix fluid container */
.container-fluid {
	padding: 0;
}

/* -- Bootstrap Navbar Edits -- */
/* Sets height of navbar and it's elements */
.navbar-brand, .navbar-nav li a {
	height: 50px;
	line-height: 50px;
	padding-top: 0;
	font-weight: 400;
}

/* Pushes content of page below navbar */
body {
	padding-top: 50px;
}


/* Changes Brand text color */
.navbar-default .navbar-brand {
	color: blue;
	font-weight: 400;
}

/* navbar */
.navbar-default {
    background-color: white;
    
    opacity: 0.98;
}
/* Changes Brand text color */
.navbar-default .navbar-brand {
    color: #3BC8C8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #62D8D8;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #444;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #62D8D8;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #19BBBB;
    background-color: white;
    border-bottom: 1px solid #3BC8C8;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #19BBBB;
    background-color: #EEEEEE;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #19BBBB;
    border-bottom-color: #19BBBB;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #62D8D8;
    border-bottom-color: #62D8D8;
}

a {
	color: #3BC8C8;
}

a:hover {
	color: #62D8D8;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > .logout {
    color: #ED5B3E;
}

.navbar-default .navbar-nav > li > .logout:hover,
.navbar-default .navbar-nav > li > .logout:focus  {
    color: #E5745D;
}

#new-nav {
	background-color: white;
	height: 40px;
	color: black;

}

/* -- BUTTONS -- */
.btn-submit {
	width: 100%;
}



.btn-default {
	background-color: #6699FF;
	border-color: #6699FF;
	color: white;
	font-weight: 400;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
	background-color: #62D8D8;
	border-color: #62D8D8;
	color: white;
}

.img-responsive {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	min-width: 1200px;
	overflow: hidden;
}

.jumbotron {
	opacity: 0.9;
	position: fixed;
	width :100%;
}

.about {
	position: fixed;
}



.jumbotron-about {
	opacity: 0.8;
	background-color: #DDD;
}

.back {
	width: 20px;
}

.boxthing {
	border: 1px solid black;
}

.btn-navbar {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 50px;
	background-color: white;
}

p.nav.nav-text {
	height: 50px;
	padding: 0;
	margin-top: 0px;
}

.btn-nav {
	height: 100%;
	background-color: white;
	border: none;
	color: black;
	font-weight: 300;

}
.btn-nav:hover {
	border: none;
	background-color: white;
	color: #62D8D8;
}
.btn-nav:focus {
	border: none;
	background-color: white;
	color: #62D8D8;
}
.btn-nav-label {

	height: 100%;
	text-align: right;
	font-weight: 300;
}


.disabled {
	color: black;
	border: none;
}
.custom-nav {
	padding: 0;
	background-color: white;
}



.dropdown-menu {
	width: 100%;
} 
/*
.custom-nav {
	padding: 0;
}
.custom-nav:hover {
	background-color: white;
	padding: 0;
}

